
 @media screen and (max-width:1140px) {
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 400px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
      opacity: 0;  
    }
    .secRight{
        flex-direction: column-reverse;
    }
    .secLeft{
        flex-direction: column-reverse;
    }
    .text-small{
        align-items: center;

    }
    .text-big{
        align-items: center;

    }
    .buttons{
        align-items: center;

    }
    .paras{
        padding: 0px;
    }
}